backup/
/emacs.d/abbrev_defs
/emacs.d/ac-comphist.dat
/emacs.d/auto-save-list/
/emacs.d/el-get/
/emacs.d/elpa/
/emacs.d/flymake.tmp/
.svn
/emacs.d/url/cookies
/emacs.d/.org-id-locations
/emacs.d/bookmarks
/emacs.d/logs/
/emacs.d/tramp
/github.gitconfig
